// Global styles for the application
.cart-page {
    background-color: #e7dddd;;
}

.menu-page {
    background-color: #89d8be;
}

.order-confirmed-page {
    background-color: #797777;
}

.checkout-page {
    background-color: #f7efd5;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
}