.orderConfirmed {
padding: 20px;
text-align: center;
color: rgb(233, 221, 221);
border-radius: 5px;
}

.boxIcon {
width: 45rem;
height: 35rem;
}

.HeaderConfirm {
font-size: 36px;;
}

.TheETA{
font-size: 28px;
font-weight: bold;
}

.NewOrderButton {
width: 20rem;
height: 5rem;
background-color: rgb(226, 222, 222);
color: rba(233, 221, 221);
cursor: pointer;
}